:root {
    --headerBackground-Color: rgb(54, 54, 54);
    --headerUl-color: white;
    --logo-color: white;
    --aboutme-color:  rgb(54, 54, 54);
    --myskills-color: rgb(56, 53, 58);
    --skillsbox-color: rgb(65, 65, 65);
}