@use 'Colors';

.footer-container{
    height: 50vh;
}

.contacts-text > h2:nth-child(1) {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Handjet', cursive;
    font-weight: 600;
    font-size: 50px;
}

.contacts-info {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 50px;
}


.email-box > h3:nth-child(1) {
    font-size: 50px;
    font-family: 'Handjet', cursive;
    font-weight: 500;
}

.phone-box > h3:nth-child(1) {
    font-size: 50px;
    font-family: 'Handjet', cursive;
    font-weight: 600;
}