@use 'Colors';


@mixin phone {
    @media screen and (max-width: 576px) {
        @content;
    }
}

.myskills-container{
    padding: 120px;
    background:linear-gradient(0deg, rgba(70,70,70,1) 0%, rgba(80,80,80,1) 100%);
    @include phone{padding: 50px;}
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    width: 70%;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}


.skills-intro{
    font-size: 50px;
    font-family: "Handjet", cursive;
    font-weight: 600;
    text-align: center;
}


.html, .css, .javascript, .sass, .react{
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--skillsbox-color);
    
}

.html i, .css i, .javascript i, .sass i, .react i{
    font-size: 80px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}

.html h3, .css h3, .javascript h3, .sass h3, .react h3{
    font-family: 'Handjet', cursive;
    font-weight: 600;
    font-size: 40px;

    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    animation-delay: 1s;
}


@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { right:0px; top:0px;}
    75%  { left:-0px; top:0px;}
}

@keyframes text {
    0%   { left:0px; top:-25px;}
    25%  { left:0px; top:-50px;}
    50%  { left:0px; top:0px;}
    75%  { left:0px; top:0px;}
}
